body {
    background:#fff;
    font-family:Arial, sans-serif;
    position: relative;
}

#mainMenu1, #mainMenu2, #mainMenu3, #mainMenu4 { 
    display:block; list-style-type: none; padding-left:0px; 
} 

#mainMenu1 li, #mainMenu2 li, #mainMenu3 li, #mainMenu4 li { 
    float:left; 
    margin-right:10px; 
}     
 
#mainMenu1 li a, #mainMenu2 li a, #mainMenu3 li a, #mainMenu4 li a { 
    text-decoration:none;
    color:#666;
}   
 
/**************************************************
AIORM - ALL IN ONE RESPONSIVE MENU
***************************************************/ 
 
.nbs-aiorm-menu-trigger, .nbs-aiorm-list-menu, .nbs-aiorm-select-menu, .nbs-aiorm-overlay, .nbs-aiorm-panel { 
    display:none; 
} 

.nbs-aiorm-list-menu, .nbs-aiorm-overlay-menu, .nbs-aiorm-panel-menu {
    list-style-type:none; 
    list-style-position:outside; 
    padding-left:0px;
}

/**************************************************
AIORM TRIGGER
***************************************************/

.nbs-aiorm-menu-trigger {
    width:30px;
    height:30px;
    margin-left: 5px;
    background:url(../images/aiorm-icon.png) center center #000;
    border: 1px solid #333;
}

/**************************************************
AIORM SELECT MENU
***************************************************/

.nbs-aiorm-select-menu {
    width:100%;
    padding:3px;
    color:#333;
    background:#fff;
}

/**************************************************
AIORM LIST MENU
***************************************************/

.nbs-aiorm-list-menu-wrap {
    position:relative;
} 

.nbs-aiorm-list-menu {
    display:none;
    background-color:rgba(0,0,0,.9);
    width:100%;
    margin-top: 10px;
}

.nbs-aiorm-list-menu:before {
    border:solid;
    border-color:rgba(0,0,0,.9) transparent;
    border-width:0px 6px 6px 6px;
    content:"";
    display:block;
    position:absolute;
    left:9px;
    top:-6px;
}

.nbs-aiorm-list-menu li {
    position:relative;
    margin-left: 5px;
    padding: 10px;
    border-bottom:1px solid #444;	
}

.nbs-aiorm-list-menu li a {
    color: #fff;
    display:block;	
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}

/**************************************************
AIORM OVERLAY MENU
***************************************************/

.nbs-aiorm-overlay {
    height: 100%;
    left: 0;
    top: 0;	
    overflow: auto;
    position: fixed;
    width: 70%;
    z-index: 2;
    background-color:rgba(0,0,0,.9);	
    color: #fff;
}

.nbs-aiorm-overlay a {
    color: #fff;
    display:block;	
    text-decoration:none;
}

.nbs-aiorm-overlay-menu {
    padding:10px;
}

.nbs-aiorm-overlay-menu li {
    position:relative;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:1px solid #444;
}

.nbs-aiorm-overlay-close {
    position:absolute;
    top:10px;
    right:10px;
    z-index: 3;
}

.nbs-aiorm-overlay-close:before {
    content: "X";
}

/**************************************************
AIORM PANEL MENU
***************************************************/

.nbs-aiorm-panel {
    height: 100%;
    left: -320px;
    top: 0px;
    display:block;
    overflow: auto;
    position: fixed;
    display: b;
    width: 320px;
    z-index: 3;
    background-color:rgba(0,0,0,.9);	
    color: #fff;
}

.nbs-aiorm-panel a {
    color: #fff;
    display:block;	
    text-decoration:none;
}

.nbs-aiorm-panel-menu {
    padding:10px;
}

.nbs-aiorm-panel-menu li {
    position:relative;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:1px solid #444;
}
 
@media only screen and (max-width: 768px) {    
    .nbs-aiorm-menu-trigger, .nbs-aiorm-select-menu {
        display: block;
    }
    #mainMenu1, #mainMenu2, #mainMenu3, #mainMenu4 { 
        display: none;
    } 	
	
}

/**************************************************
CLEARS
***************************************************/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearout {
    clear: both;
    display: block;
    overflow: hidden;
    width: 0;
    height: 20px;
}

.spacer {
    clear: both;
    display: block;
    overflow: hidden;
    width: 0;
    height: 10px;
}